.bg-app {
    background: radial-gradient(circle, rgba(217,148,233,1) 45%, rgba(238,174,202,1) 88%);
}

.btn-grad {background-image: linear-gradient(to right, #780206 0%, #061161  51%, #780206  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
